/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  .logo {
     
    padding: 20px 20px;
    margin-left: 140px;
    text-align: justify;
  }

.naval {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: black;
    padding: 10px 10px;      
  }

  ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

ul li a {
    color: #fff;
    text-decoration: none;
}

.feature{
    float: left;
    margin-right: 20px;
    
}
 


.photos {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    align-items: flex-start;
    justify-content: flex-start;
}
 

img {
    height: 250px;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 30px;
}

